<!DOCTYPE html>
<html lang="en" ng-app="foodApp">
<head>
    <title>khanabolo</title>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="">
</head>
<style>
  
.alignCenter{
  text-align: center;
  margin-top: 140px;
}
.rpad30{
  padding-right: 30px;
}
.border{
  border-bottom: 1px solid white;
  width: 40%;
  margin-left: 30%;
}
.tpad{
  padding-top: 5px;
}
.fontsize{
  font-size: 25px;
}
.mouseover{
  cursor: pointer;
}
i:hover{
  color: red;
}

</style>

<body ng-controller="foodController" bgcolor="#150000">
      <div class="alignCenter">
          <div>
            <h1>
              <font color="white">We are Coming Soooon</font>
            </h1>
          </div>
          <div>
            <h3>
             <font color="white">minions at work</font>
            </h3>
            <div class="border">
              
            </div>
          </div>
          <div>
          <h3>
            <font color="white">In the mean time stalk us here</font>
          </h3>
        </div>
        <div class="tpad">
          <h3 class="fontsize">
            <font ng-click="fbPage()" class="rpad30 mouseover" color="white"><i>facebook</i></font>
            <font ng-click="twitterPage()" class="rpad30 mouseover" color="white"><i ng-click="twitterPage()">twitter</i></font>
          </h3>
        </div>
      </div>
      
  
</body>
</html>