<!DOCTYPE html>
<html lang="en" ng-app="foodApp">
<head>
    <title>khanabolo</title>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/main.js"></script>
</head>
<style>
  
.alignCenter{
  text-align: center;
  margin-top: 140px;
}
.rpad30{
  padding-right: 30px;
}
.border{
  border-bottom: 2px solid white;
  width: 40%;
  margin-left: 30%;
}
.tpad{
  padding-top: 5px;
}
.fontsize25{
  font-size: 25px;
}
.fontsize50{
  font-size: 50px;
}
.fontsize{
  font-size: 20px;
}
.mouseover{
  cursor: pointer;
}
i:hover{
  color: red;
}
.lpa25{
  padding-left: 25px;
}
.rpad10{
  padding-right: 10px;
}

</style>

<body ng-controller="foodController" bgcolor="#150000">
      <div class="alignCenter">
          <div>
          <h1><font color="white">Going live in</font></h1>
          <h1 class="fontsize50 rpad10">
            <font class="rpad30" color="white"><font ng-show="showZeroDays" color="white">0</font>{{daysLeft}}</font>
            <font class="rpad30" color="white"><font ng-show="showZeroHours" color="white">0</font>{{hoursLeft}}</font>
            <font class="rpad30" color="white"><font ng-show="showZeroMinutes" color="white">0</font>{{minutesLeft}}</font>
            <font color="white"><font ng-show="showZeroSeconds" color="white">0</font>{{secondsLeft}}</font>
          </h1>
          <h1 class="fontsize rpad10">
            <font class="rpad30" color="white">days</font>
            <font class="rpad30" color="white">hours</font>
            <font class="rpad30" color="white">minutes</font>
            <font color="white">seconds</font>
          </h1>
          </div>
          <div>
            <div class="border"></div>
          </div>
          <div>
           <h3>
             <font color="white">minions at work</font>
            </h3>
          <h3>
            <font color="white">In the mean time stalk us here</font>
          </h3>
        </div>
        <div>
          <h3 class="fontsize lpa25">
            <font ng-click="fbPage()" class="rpad30 mouseover" color="white"><i>facebook</i></font>
            <font ng-click="twitterPage()" class="rpad30 mouseover" color="white"><i ng-click="twitterPage()">twitter</i></font>
          </h3>
        </div>
      </div>
      
  
</body>
</html>